.main-container {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 30vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.701);
    margin-left: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.display-container {
    width: 25vw;
    height: 20vh;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.display {
    width: 90%;
    height: 90%;
    background-color: aliceblue;
}


.input-container {
    width: 25vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

button {
    width: 5vw;
    height: 10vh;

    background-color: gray;
    border: 1px black solid;
    font-size: 25px;
    color: white;
}